# Eclipse
.classpath
.project
.settings/
.vscode

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
**/target/
bin/
**/bin/

hakuna.log
pom.xml.versionsBackup
**/pom.xml.versionsBackup